.ask__wrapper {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    color: #000;

    input {
        padding: 0.5rem 1rem;
    }

    textarea {
        resize: none;
        height: 120px;
    }
}