.home__container {
    margin-top: 80px;
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    @media screen and (min-width: 720px) {
        padding: 2rem 0;
        max-width: 680px;
    }
}

.home__controls {
    display: flex;
    justify-content: space-between;
}