
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: 'Raleway', sans-serif;
  --text-color: #212121;
  --headings-color: #4C4C6D;
  --secondary-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
}

h1, h2, h3,h4 {
  font-family: var(--secondary-font);
}

input, textarea {
  border: 1px solid #CDDEFF;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-family: var(--secondary-font);
  color: var(--headings-color);
  line-height: 22px;

  &:focus {
    outline: none;
    border: 1px solid #676FA3;
  }
}

button {
  font-family: var(--primary-font);
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  // border: 1px solid var(--text-color);
  background-color: #FFFFFF;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.8;
    transition-duration: 0.5s;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
}

.cancel-button {
  background-color: #FF5959;
  color: #FFFFFF;


}

.submit-button {
  background-color: var(--headings-color);
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

textarea {
  resize: none;
  height: 120px;
}
